
:root{
    --background: #ddd;
    --btnColor: #596D48;
}

@font-face {
    font-family: norse;
    src: url(Norse-Bold.otf);
}

body{
    margin: 0;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


.main{
    display:flex;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

/* right side */

.hero-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--background);
    align-items: start;
    gap: 10px;
}

.header{
    margin: 10px;
    font-weight: bold;
}

h2{
    margin: 10px;
}

form{
    display: flex;
    width: 60vw;
    flex-flow: row wrap;
    gap: 10px;
    margin: 10px;
    font-size: 16px;
   
}

.input{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-basis: calc(50% - 5px);
}

button{
    background-color: var(--btnColor);
    font-size: 1.3rem;
    border-radius: 10px;
    padding: 10px 20px;
    color: white;
  }

  button:hover{
    background-color: var(--background);
    color: black;
  }

  a{
    color: var(--btnColor);
    text-decoration: none;
  }

  a:hover{
    color:white;
  }
  
  .create_account{
    margin: 10px;
  }

  input:focus{
    outline: none;
    border: 2px solid var(--btnColor);
  }

  input.error {
    font-size: 0.8em;
    border: 1px solid red;
  }
  

/* left side */

.side-hero{
    display: flex;
    background-image: url(images/ferns.jpg);
    width: 40vw;
    background-size: cover;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    position: relative;
    min-width: 300px;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    color: #fff;
  }

.logo img{
    width: 60px;
    height: auto;
    margin-right: 10px;
  }

.logo h1{
    font-size: 60px;
    font-weight: bold;
    margin: 0;
    color: white;
    font-family: norse;
  }

